# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\jinhuang\java\IDEA\idea-git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
idea-git.iml
**/.mvn/
**/mvnw
**/mvnw.cmd
**/HELP.md
